.sponsors{
    display: grid;
    grid-template: "a a" auto;
    justify-content: space-around;
    align-items: center;
}

.important__brand{
    max-width: 150px;
}

.brand{
    max-width: 80px;
}

